header {
    background-color: brown;
    grid-area: HEADER;
}

.logo img{
    width: 50px;
}

.loginBlock {
    position: absolute;
    right: 20px;
    top: 15px;
}

.loginBlock a {
    color: white;
}