nav {
    background-color: rgb(46, 40, 40);
    grid-area: NAV;
    padding: 20px;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.item a.activeLink {
    color: orange;
}

.subTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 5px;
}