footer {
    grid-area: FOOTER;
}

.site {
    background-color: #ec4d3b;
    color: white;
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}