.wrap {
    display: grid;
    background-color: #6f7587;

    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */

    grid-template-areas: 
    "HEADER HEADER"
    "NAV CONTENT"
    "FOOTER FOOTER";
}
.content{
    padding: 10px;
}

