.messages {
    margin: 10px auto;
    width: 300px;
    background-color: rgb(46, 40, 40);
    border-radius: 5px;
    position: relative;
}

.messages:first-child {
    margin-top: 50px;
}

.messages:last-child {
    margin-bottom: 50px;
}

.text {
    color: #ffffff;
    text-align: left;
    padding: 10px 10px 0 10px;
    hyphens: auto;
    word-break: break-all;
}

.date {
    color: #6f7587;
    text-align: right;
    padding: 0 10px 5px 0;
    margin-left: 20px;
}

.tail {
    height: 0;
    width: 0;
}

.tail:before {
    content: "";
    border: 20px solid transparent;
    border-bottom-color: #282c34;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.tail:after {
    content: "";
    border: 20px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    left: -40px;
}

.red {
    color: red;
}

.black {
    color: #000000;
}

